@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.attribution{
    position: fixed;
    bottom: 0;
    border: 2px solid red;
    width: 100%;
    padding: 10px ;
    background-color: white;
    font-weight: bolder;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:hsl(235, 18%, 26%);
    font-family: "Roboto", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.newsletter-container, .success-box{
    display: flex;
    width: 50%;
    gap: 40px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    color: hsl(234, 29%, 20%);
    align-items: center;
}

#main-text{
    font-size: 2.5rem;
    margin-bottom: 15px;
}
#sub-text{
    margin-bottom: 15px;
}
.lists{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.right-side{
    width: 50%;
}
.left-side{
    width: 50%;
}
#right-image-desktop{
    width: 100%;
}
#right-image-mobile{
   display: none;
}
label{
    display: block;
    text-align: left;
}
.label-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 5px;
}
input{
    padding: 14px 20px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid grey;
}
input::placeholder{
    color: gray;
}
input[type="submit"]{
    background-color: hsl(234, 29%, 20%);
    color: white;
    margin-top: 20px;
    cursor: pointer;
    border: none;
}
input[type="submit"]:hover{
    background: linear-gradient(to right, hsl(327, 96%, 50%), hsl(4, 100%, 67%));
    box-shadow: 2px 2px 100px rgb(224, 224, 224);
}

.success-box{
    display: none;
}
.success-style{
    background-color: white;
    width: 25%;
    padding: 20px 30px;
    border-radius: 10px;
    color: hsl(234, 29%, 20%);
}
#succes-text{
    font-size: 30px;
    margin-bottom: 10px;
}

#dismiss-button{
    background-color: hsl(234, 29%, 20%);
    color: white;
    margin-top: 20px;
    cursor: pointer;
    padding: 14px 20px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid grey;
    margin-bottom: 30px;
}
#dismiss-button:hover{
    background: linear-gradient(to right, hsl(327, 96%, 50%), hsl(4, 100%, 67%));
    box-shadow: 2px 2px 100px rgb(224, 224, 224);
    border: none;
}
@media(max-width:1000px){
    .newsletter-container, .success-box{
        width: 80%;
    }
}
@media(max-width:718px){
    .newsletter-container, .success-box{
        width: 100%;
   
    }
}
@media(max-width:480px){
    .newsletter-container {
        height: 100%;
        width: 100%;
        border-radius: 0;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
   
    }
     .attribution{
        display: none;
    }
    .success-box{
        
        height: 100%;
        width: 100%;
        border-radius: 0;
        position: relative;
        padding-top: 100px;
        gap: 100px;
    }
    #success-p{
        margin-bottom: 230px;
    }
#success-text{
    font-size: 40px;
    margin-bottom: 20px;
}
    #success-icon{
    width: 60px;
    margin-bottom: 20px;
    }
    #right-image-desktop{
        display: none;
    }
    #right-image-mobile{
        display: block;
        width: 100%;
    }
    .right-side{
        width: 100%;
    }
    .left-side{
        width: 80%;
    }
    input[type="submit"]{
       margin-bottom: 20px;
    }
}

